<header class="header-background">
    <div class="header-logo">
        <span>GENIAL</span>
        <h4>BANKING</h4>
    </div>
    <div class="header-menu" [ngClass]="{'header-menu-active' : isActive}">
        <ul class="header-navbar">
            <li class="icon-menu">Cartões</li>
            <li class="icon-menu">Emprestimos</li>
            <li class="icon-menu">Investimentos</li>
        </ul>
        <ul class="header-navbar-button">
            <li class="button">Abra sua Conta</li>
            <li class="button login">Entrar</li>
        </ul>
    </div>
    <button class="hamburger hamburger--slider " 
        [ngClass]="{'is-active' : isActive}" 
        type="button"
        (click)="toggleSidebar()">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</header>