$hamburger-layer-color: var(--destak-color);
$hamburger-layer-width: 35px;
$hamburger-hover-opacity: 0.9;

@import "../../../../node_modules/hamburgers/_sass//hamburgers/hamburgers.scss";

.header {
    &-background {
        max-width: 100vw;
        height: 70px;

        padding: 10px var(--padding-container);

        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
        overflow-x: clip;

        z-index: 1;

        background-color: var(--background-color);

        box-shadow: var(--shadow);

        border-bottom: 1px solid var(--destak2-color);

        button {
            display: none;

            padding-right: 0 !important;
            margin-right: -20px !important;
        }
    }

    &-menu {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: space-between;
        padding-left: 50px;
    }

    &-navbar {
        display: flex;

        text-decoration: none;
        list-style: none;

        font-size: var(--font-menu-size);

        color: var(--background3-color);

        .icon-menu::after {
            content: '';
            display: block;
            background-color: var(--destak-color);
            width: 0%;
            height: 2px;
            transition: .3s;
        }

        .icon-menu:hover::after {
            width: 100%;
            transition: .3s;
        }

        li {
            cursor: pointer;
            padding: 0px 20px;
        }

        &-button {
            display: flex;
            gap: 15px;

            text-decoration: none;
            list-style: none;

            color: var(--background4-color);

            li {
                font-size: var(--font-button-size);
                padding: 8px 25px;
                cursor: pointer;
            }

            .login {
                background-color: var(--background2-color);
            }

            .login:hover {
                background-color: var(--background2-hover-color);
            }
        }
    }

    &-logo {
        display: flex;
        flex-direction: column;
        align-items: center;

        cursor: pointer;

        span {
            font-size: 28px;
            letter-spacing: 6px;
        }

        h4 {
            margin-top: -6px;

            text-align: center;
            font-size: 10px;
            font-weight: 1000;

            letter-spacing: 4px;
        }

        color: var(--destak-color);
    }
}

@media (max-width: 1024px) {
    .header {
        &-background {
            padding: 10px var(--padding-container);

            button {
                display: block;
            }
        }

        &-menu {
            background-color: var(--background-color);
            flex-direction: column;

            height: calc(100vh - 70px);
            min-width: 300px;

            position: absolute;

            padding: 30px 0 0 0;
            top: 70px;
            right: 0;
            transform: translateX(100%);
            transition: .5s;

            filter: drop-shadow(0px 0px -10px rgb(0, 0, 0));
        }

        &-menu-active {
            transform: translateX(0%) !important;
            transition: .5s;
        }

        &-navbar {
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 100%;
            gap: 20px;

            &-button {
                display: flex;
                flex-direction: column;
                align-items: center;

                filter: drop-shadow(30px 0px 10px rgb(0, 0, 0));
                background-color: var(--background-color);

                border-top: 2px solid var(--destak2-color);

                padding: 30px 0;
                width: 100%;

                li {
                    min-width: 80%;
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 760px) {
    .header {
        &-menu {
            width: 100%;
        }
    }
}

@media (max-width: 320px) {
    .header-background {
        button {
            margin-right: 0 !important;
        }
    }
}