section {
    min-height: calc(100vh - 70px);
    display: flex;
    padding: 20px var(--padding-container);
    align-items: center;
}

.section {
    &-home {
        top: 70px;
        background-image: url('../../../assets/images/background-banking.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &-box {
            max-height: calc(100vh - 110px);
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            h1 {
                font-size: var(--font-title-size);
                color: var(--background4-color);
                padding-bottom: 10px;
                opacity: 0;
                animation: enter-bottom 1s forwards;
            }
    
            p {
                font-size: var(--font-sub-title-size);
                color: var(--background3-color);
                padding-bottom: 50px;
                opacity: 0;
                animation: enter-bottom 1s forwards .5s;
            }
    
            button {
                opacity: 0;
                animation: enter-bottom 1s forwards 1s;
            }
        }
    }
}

@media (max-width: 1024px) {
    .section {
        &-home {
            padding: 10px var(--padding-container);

            &-box {
                width: 70%;

            }
        }
    }
}

@media (max-width: 760px) {
    .section {
        &-home {
            flex-wrap: wrap;
            padding-top: 60px;

            &-box {
                width: 100%;
            }
        }
    }
}

@media (max-width: 500px) {
    .section {
        &-home {
            padding-top: 10px;

            button {
                width: 100%;
            }
        }
    }
}